/*reset*/
html { color: #333; direction: ltr }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit; font-weight: inherit }
del, ins { text-decoration: none }
li { list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
q:before, q:after { content: '' }
abbr, acronym { border: 0; font-variant: normal }
sup { vertical-align: baseline }
sub { vertical-align: baseline }
legend { color: #000 }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit }
input, button, textarea, select { *font-size: 100% }
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent }
article, aside, dialog, figure, footer, header, hgroup, nav, section, figcaption, details, summary { display: block }
nav ul { list-style: none }
blockquote, q { quotes: none }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold }
details:not([open]) > *:not(summary) { display: none }
.clearfix { zoom: 1 }
.clearfix:before { content: ''; display: block }
.clearfix:after { content: ''; display: table; clear: both }
*, *::after, *::before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }

/*kangyr*/
@charset "UTF-8";
a {
	text-decoration: none;
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: "微软雅黑";
	font-size: 62.5%;
}

@media screen and (min-width:275px) and (max-width:319px) {
	html {
		font-size: 50%;
	}
}
@media screen and (min-width:360px) and (max-width:374px) {
	html {
		font-size: 68.75%;
	}
}
@media screen and (min-width:375px) {
	html {
		font-size: 75%;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-ms-tap-highlight-color: transparent;
	-o-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

input,
textarea,
select {
	-webkit-apperance: none;
	-moz-apperance: none;
	-ms-apperance: none;
	-o-apperance: none;
	apperance: none;
}

html,
body,
.container {
	width: 100%;
}

@font-face {
	font-family: 'iconfont';
	src: url("fonts/iconfont.woff") format("woff"), 
		 url("fonts/iconfont.ttf") format("truetype"), 
		 url("fonts/iconfont.svg#iconfont") format("svg");
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 1.6rem;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	min-width: 275px;
	/*max-width: 640px;*/
	margin: 0 auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
}


/*行程页*/
.header {
	width: 100%;
	height: 4.4rem;
	line-height: 4.4rem;
	background: #3598db;
	text-align: center;
	font-size: 1.6rem;
	color: #fff;
	position: relative;
}

.header span {
	position: absolute;
	left: 1rem;
	top: 0;
	font-size: 2.2rem;
}

.header a {
	position: absolute;
	right: 1rem;
	top: 1rem;
	color: #3598db;
	font-size: 1.4rem;
	display: inline-block;
	width: 4.4rem;
	height: 2.2rem;
	line-height: 2.2rem;
	text-align: center;
	background: #fff;
	border-radius: .8rem;
}

.main {
	width: 100%;
	height: 100%;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
}

.trip-main {
	width: 100%;
	margin: 0 auto;
}

.date-main {
	background: #ffffff;
	overflow-y: auto;
}

.detail-main {
	position: relative;
	/*background: #eeeeee;*/
}

.main .basic-data {
	width: 100%;
	padding: .5rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	-o-box-orient: horizontal;
	box-orient: horizontal;
	background: #3598db;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}

.main .basic-data ul {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	text-align: center;
}

.main .basic-data ul:first-child,
.main .basic-data ul:last-child {
	width: 7rem;
	text-align: center;
}

.main .basic-data ul li {
	font-size: 1.2rem;
	margin: 0 auto;
}

.main .basic-data ul .cutting-line {
	padding: .5rem 0;
}

.main .basic-data ul .score {
	width: 10rem;
	height: 8.5rem;
	text-align: center;
	margin-top: .8rem;
	padding-top: 1.2rem;
	position: relative;
}

.main .basic-data ul .score span {
	display: inline-block;
	font-size: 38px;
	padding-bottom: .3rem;
}

.main .basic-data ul li span {
	font-size: 1.6rem;
}

.main .basic-data ul .startTime {
	position: relative;
}

.main .basic-data ul .startTime a {
	color: #fff;
}

.main .basic-data ul .startTime span {
	font-size: 1.4rem;
}

.main .basic-data ul .startTime input {
	width: 70%;
	background: transparent;
	border: none;
	color: #fff;
}

.main .basic-data ul .startTime .triangle {
	position: absolute;
	width: 0;
	height: 0;
	border: .6rem solid transparent;
	border-top: .6rem solid #fff;
	overflow: hidden;
	right: -.1rem;
	top: 1rem;
	cursor: pointer;
}

.main .routeMap {
	position: relative;
	width: 100%;
	height: 100%;
	padding-bottom: 24.4rem;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
}

.main .routeMap .legend {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	width: 11.2rem;
	height: 14rem;
	border-radius: 1.4rem;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 1rem;
}

.main .routeMap .legend li {
	line-height: 2.4rem;
}

.main .routeMap .legend li span {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin-right: .6rem;
}

.main .routeMap .legend li:nth-of-type(1) span {
	background: #fe0000;
}

.main .routeMap .legend li:nth-of-type(2) span {
	background: #eb6100;
}

.main .routeMap .legend li:nth-of-type(3) span {
	background: #92d14f;
}

.main .routeMap .legend li:nth-of-type(4) span {
	background: #01853c;
}

.main .routeMap .legend li:nth-of-type(5) span {
	background: #5f52a1;
}


/*日期选择页*/
.calendar {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
}

.calendar .year_month {
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	color: #757575;
	font-size: 1.4rem;
	position: relative;
}

.calendar .year_month span {
	display: inline-block;
	width: 1.4rem;
	height: 1.4rem;
	background: transparent;
	border-left: .3rem solid #c7c7cc;
	border-top: .3rem solid #c7c7cc;
	border-radius: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.calendar .year_month span:first-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	left: 3rem;
	top: 1.4rem;
}

.calendar .year_month span:last-child {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	position: absolute;
	right: 3rem;
	top: 1.4rem;
}

.calendar .date {
	width: 100%;
	border-bottom: 1px solid rgba(53, 152, 219, 0.3);
	font-size: 1.2rem;
}

.calendar .date tr {
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	-o-box-orient: horizontal;
	box-orient: horizontal;
}

.calendar .date tr td,
.calendar .date tr th {
	display: block;
	width: 14.3%;
	text-align: center;
	border-right: 1px solid rgba(53, 152, 219, 0.3);
	border-top: 1px solid rgba(53, 152, 219, 0.3);
}

.calendar .date tr td:first-child {
	border-left: 1px solid rgba(53, 152, 219, 0.3);
}

.calendar .date tr td.ondate {
	background: #3598db;
	color: #fff;
}

.calendar .date tr th {
	border: none;
}

.calendar .date tr td {
	position: relative;
}

.calendar .date tr td .note {
	position: absolute;
	bottom: .5rem;
	left: 50%;
	width: .4rem;
	height: .4rem;
	margin-left: -.2rem;
	border-radius: 100%;
	background: #3598db;
}

.main .calendar~div {
	font-size: 1.4rem;
}

.address {
	width: 100%;
	padding: .8rem 1rem 1.2rem;
	position: relative;
}

.address .go-detail {
	display: inline-block;
	width: 100%;
	position: relative;
	border-top: 1px solid #877d7e;
}

.address .go-detail p {
	color: #050505;
	font-size: 1.2rem;
}

.address .go-detail p span {
	display: inline-block;
	width: 2.6rem;
	height: 2.6rem;
	text-align: center;
	line-height: 2.6rem;
	background: #3598db;
	color: #fff;
	border-radius: 100%;
	margin-right: .5rem;
}

.address .go-detail p:nth-of-type(2) span {
	background: #f56d3d;
}

.address .go-detail p em {
	color: #000;
	font-style: normal;
}

.address .go-detail p strong {
	color: #575757;
}

.address .go-detail-btn {
	position: absolute;
	right: 1.8rem;
	top: 50%;
	width: 1.2rem;
	height: 1.2rem;
	margin-top: .6rem;
	background: transparent;
	border-right: 2px solid #555555;
	border-top: 2px solid #555555;
	border-radius: 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}


/*行程详情页*/
.tit-list {
	width: 100%;
	height: 56px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	-o-box-orient: horizontal;
	box-orient: horizontal;
	background: #fff;
	color: rgba(12, 77, 121, 1);
	font-size: 1.6rem;
}

.tit-list li {
	height: 5.6rem;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	text-align: center;
	line-height: 5.6rem;
}

.tit-list li.on {
	color: #3598db;
	border-bottom: .5rem solid #3598db;
}

.tit-list li i {
	font-size: 2rem;
}

.con-list {
	width: 100%;
	/*height: 100%;*/
	overflow: auto;
}


@media screen and (min-width:275px) and (max-width:319px) {
	.con-list .route-data {
		padding: 0 .5rem;
	}
	.con-list .route-data .total-data .data-list ol li {
		white-space: nowrap;
	}
}

.con-list .total-data {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	border-bottom: 1px solid #877d7e;
}

.con-list .total-data ul {
	width: 12rem;
	height: 12rem;
	text-align: center;
	margin: 2rem auto;
	color: #545454;
	font-size: 1.2rem;
}

.con-list .total-data ul li:first-child {
	font-size: 44px;
	position: relative;
	padding-top: 10px;
}

.con-list .total-data ul li:last-child {
	margin-top: 5px;
}

.con-list .total-data .start-end {
	width: 100%;
	padding: 0 4rem;
}

.con-list .total-data .start-end p {
	line-height: 1.5;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.con-list .total-data .start-end p span {
	display: inline-block;
	width: 2.6rem;
	height: 2.6rem;
	text-align: center;
	line-height: 2.6rem;
	background: #3598db;
	color: #fff;
	border-radius: 100%;
	margin-right: .5rem;
}

.con-list .total-data .start-end p:nth-of-type(2) span {
	background: #f56d3d;
}

.con-list .total-data .start-end p strong {
	margin-left: 3rem;
}

.con-list .total-data .data-list {
	padding: 1rem 2rem;
}

.con-list .total-data .data-list ol {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	-o-box-orient: horizontal;
	box-orient: horizontal;
	margin: 1rem 0;
}

.con-list .total-data .data-list ol li {
	width: 33%;
	text-align: center;
	color: #555555;
	font-size: 1.2rem;
}

.con-list .total-data .data-list ol li span {
	font-size: 1.6rem;
}

.con-list .total-data .data-list ol .parting-line {
	width: 2%;
	text-align: center;
	color: #877d7e;
	font-size: 30px;
	padding-top: 5px;
}

.con-list .fuel-consumption {
	width: 100%;
	padding: 0 1rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
	border-bottom: 1px solid #877d7e;
}

.con-list .fuel-consumption h2 {
	font-size: 1.6rem;
	color: #676767;
	margin-top: 1rem;
	line-height: 3rem;
}

.con-list .fuel-consumption .progress1 {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
}

.con-list .fuel-consumption .progress1 .progress1-bar .progress1-data {
	line-height: 1.5;
}

.con-list .fuel-consumption .progress1 .progress1-bar .progress1-data span {
	display: inline-block;
	width: 64%;
	color: #505050;
	font-size: 1.2rem;
}

.con-list .fuel-consumption .progress1 .progress1-bar .progress1-data span em {
	color: #9a9a9a;
	font-size: 1.6rem;
}

.con-list .fuel-consumption .progress1 .progress1-bar .progress1-data strong {
	display: inline-block;
	width: 32%;
	font-style: normal;
	color: #9e9e9e;
	font-size: 1.4rem;
	text-align: right;
}

.con-list .fuel-consumption .progress1 .progress1-bar .progress1-line {
	width: 100%;
	height: .8rem;
	border-radius: .4rem;
	background: #c7c7c7;
	margin: .5rem 0 1rem;
}

.con-list .fuel-consumption .progress1 .progress1-bar .progress1-line span {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: .8rem;
	border-radius: .4rem;
	background: #d9c1a1;
}

.con-list .fuel-consumption .progress1 .progress1-bar:nth-child(2) .progress1-line span {
	background: #d9a1a5;
}

.con-list .fuel-consumption .progress1 .progress1-bar:nth-child(3) .progress1-line span {
	background: #a1bdd9;
}

.con-list .fuel-consumption .progress1 .notice {
	width: 100%;
	text-align: center;
	line-height: 3rem;
	color: #f56d3d;
	font-size: 1.6rem;
}

.con-list .drive {
	width: 100%;
	padding: 0 1rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
}

.con-list .drive h2 {
	font-size: 1.6rem;
	color: #676767;
	margin: 1rem 0;
	line-height: 3rem;
}

.con-list .drive .ring-data {
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-o-box-orient: vertical;
	box-orient: vertical;
}

.con-list .drive .ring-data ul {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	-o-box-orient: horizontal;
	box-orient: horizontal;
	padding-bottom: 2rem;
	text-align: center;
	margin: 0 auto;
}

.con-list .drive .ring-data ul li {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	width: 10rem;
	height: 9.4rem;
	font-weight: bold;
	text-align: center;
}

.con-list .drive .ring-data ul li em {
	display: inline-block;
	font-style: normal;
	margin-top: 3rem;
}


.con-list .drive .ring-data ol {
	width: 100%;
	height: 4rem;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	-o-box-orient: horizontal;
	box-orient: horizontal;
	text-align: center;
}

.con-list .drive .ring-data ol li {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	color: #535353;
	font-size: 1.4rem;
}

.con-list .drive .ring-data ol li:nth-child(2n) {
	color: #000;
	font-size: 2rem;
	margin-top: .5rem;
}

.con-list .drive .ring-data ol li span {
	font-size: 1.8rem;
}

.con-list .drive .ring-data .notice {
	width: 100%;
	line-height: 1.5;
	text-align: center;
	color: #f56d3d;
	font-size: 1.6rem;
	margin: 1.5rem 0;
}

.con-list .my-track {
	width: 100%;
	height: 100%;
}
.driveStar, .oilStar{
	line-height: 4.5rem;
	padding-left: 0.5rem;
}



/*lf*/
br {
	font-size: 0;
}


.con-list .drive .ring-data ul {
	/*height: 11.4rem;*/
}

.con-list .drive .ring-data ul li {
	font-size: 1.2rem;
}

.main .basic-data ul li.score {
	position: relative;
}

.calendar .date tr th {
	font-size: 1.4rem;
}

.scroll {
	overflow-x: hidden;
}

.address .go-detail-btn {
	margin-top: -.4rem;
}

.address {
	padding: 0 1rem;
}

.address .go-detail {
	padding-bottom: 1rem;
}

.address p {
	padding: 1.2rem 4rem 0;
	position: relative;
	line-height: 1.5;
}

.detail-main .address p {
	padding-right: 1rem;
}

.address p span {
	position: absolute;
	left: .5rem;
}

.address p strong {
	margin: 0;
}

.con-list .address p em {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	width: 100%;
}

.header {
	z-index: 1000;
}

.header .w-btn {
	display: block;
	width: 4rem;
	height: 100%;
	position: absolute;
	left: 0 !important;
	top: 0 !important;
	background-color: transparent;
}

.w-btn:after {
	content: "";
	position: absolute;
	width: 1.3rem;
	height: 1.3rem;
	background: transparent;
	border-left: .3rem solid #fff;
	border-top: .3rem solid #fff;
	border-radius: 0;
	left: 1.5rem;
	top: 1.5rem;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.calendar .year_month a {
	border: 0;
	-webkit-transform: rotate(0deg) !important;
	transform: rotate(0deg) !important;
	width: 7rem;
	height: 100%;
	top: 0 !important;
	position: absolute;
}

.calendar .year_month a:first-child {
	left: 0;
}

.calendar .year_month a:last-child {
	right: 0;
}

.calendar .year_month a:before {
	position: absolute;
	content: '';
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	background: transparent;
	border-left: .3rem solid #c7c7cc;
	border-top: .3rem solid #c7c7cc;
	border-radius: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 1.4rem;
}

.calendar .year_month a:first-child:before {
	left: 3rem;
}

.calendar .year_month a:last-child:before {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	right: 3rem;
}

.tit-list {
	height: 5.2rem;
}

.tit-list li {
	height: 5.2rem;
	line-height: 5.2rem;
}

.tit-list li.on {
	border-width: .2rem;
}

.trip-main {
	position: relative;
	z-index: 1000;
	display: block;
	-webkit-box-flex: 0;
	box-flex: 0;
	height: auto;
}

.detail-main {
	position: absolute;
	/*width: 100%;*/
	/*height: 100%;*/
	max-width: 1024px;
	margin: 0 auto;
	padding-top: .5rem;
	/*-webkit-box-shadow: inset 0px 2px 5px rgba(0, 0, 0, .5);*/
	/*box-shadow: inset 0px 2px 5px rgba(0, 0, 0, .5);*/
}

.date-main {
	-webkit-overflow-scrolling: touch;
}

.routeMap {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	overflow: hidden;
	-webkit-box-flex: 0;
	box-flex: 0;
}

.my-track {
	top: 0;
	padding-top: 0;
}

.routeMap>div {
	position: relative;
	width: 100%;
	height: 100%;
}

.routeMap .legend {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	width: 11.2rem;
	height: 14rem;
	border-radius: 1.4rem;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 1rem;
}

.routeMap .legend li {
	line-height: 2.4rem;
}

.routeMap .legend li span {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin-right: .6rem;
}

.con-list {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 0  0.8rem;
}

.con-list .route-data {
	width: 100%;
	margin: 0;
	/*position: absolute;*/
	top: 0;
	left: 0;
	/*overflow-x: hidden;*/
	/*overflow-y: auto;*/
	/*height: 100%;*/
	/*background-color: #eeeeee;*/
	z-index: 10;
	-webkit-overflow-scrolling: touch;
}

.con-list .total-data {
	height: auto;
}

.con-list .my-track {
	height: 100%;
	top: 0;
	width: 100%;
	left: 0;
	margin: 0;
	padding-top: 0;
	padding-bottom: 9.7rem;
}

.con-list .my-track>div {
	position: relative;
	width: 100%;
	height: 100%;
}

.con-list .my-track .legend {
	bottom: 1rem;
}

.con-list .total-data .start-end {
	font-size: 1.2rem;
}

.load-map {
	display: block;
	text-align: center;
	color: #cccccc;
	position: absolute;
	width: 100%;
	top: 50%;
}

.header-wrapper {
	background-color: #3598db;
}

.starticon:before,
.endicon:before {
	content: '';
	width: 1.8rem;
	height: 2.2rem;
	background: url(img/sm1.png) no-repeat center center;
	display: block;
}

.endicon:before {
	background-image: url(img/em1.png)
}

.date-list {
	margin: 1rem 0 5.6rem;
}

.con-list .fuel-consumption .progress1 .progress1-bar .progress1-line {
	position: relative;
}

.tit-list li i {
	display: inline-block;
	vertical-align: -1px;
}

.con-list .total-data .data-list {
	padding: 1rem;
}

.con-list .address .go-detail {
	padding-bottom: 1rem;
}

.con-list .address .go-detail p {
	height: 5.4rem;
}

.trip-header .w-btn:after {
	border: 0;
}

.toast-top-right {
	position: absolute;
	bottom: 3rem;
	width: 100%;
	z-index: 10000;
	text-align: center;
}

.toast-message {
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 1.4rem;
	color: #ffffff;
	padding: 0 1rem;
	min-width: 5rem;
	border-radius: .6rem;
	margin: 0 auto;
}

circle {
	stroke: #877d7e;
}

circle,
path {
	stroke-width: .3rem;
	fill: transparent;
}

.trip-header .refresh {
	position: absolute;
	left: 0;
	background-color: transparent;
	color: #ffffff;
	font-size: 2.2rem;
	height: 4rem;
	top: 0;
	font-weight: bolder;
	line-height: 4rem;
	text-align: center;
}

.main .basic-data ul li.startTime a {
	display: block;
}

.con-list .fuel-consumption .progress1 .progress1-bar .progress1-data {
	white-space: nowrap;
}

.con-list .fuel-consumption .progress1 .progress1-bar .progress1-data strong {
	width: 34%;
}


/*#map-wrapper {
    width:200%;
    height:200%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);

}*/

.highlight {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
}

.tit-list {
	margin-top: -.1rem;
}

.con-list .drive {
	padding: 0;
}

.main .basic-data ul li.startTime a {
	position: relative;
}

.con-list .drive .ring-data ul li {
	width: 30%;
	height: 8rem;
}

.circle {
	position: relative;
	width: 9rem;
	height: 9rem;
	text-align: center;
	margin: 0 auto;
}

.circle svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 9rem;
	height: 9rem;
}

.circle svg circle, .circle path {
	stroke-width: .2rem;
}

.con-list .drive .ring-data ul li em {
	margin-top: 32%;
}

@media screen and (min-width:275px) and (max-width:319px) {
	.con-list .drive .ring-data ul {
		padding-bottom: 0;
	}
	.circle {
		width: 7.5rem;
		height: 7.5rem;
		white-space:nowrap;
	}
	
	.circle svg {
		width: 7.5rem;
		height: 7.5rem;
	}
}

@media screen and (min-width:320px) and (max-width:359px) {
	.con-list .drive .ring-data ul {
		padding-bottom: .5rem;
	}
	.circle {
		width: 7.8rem;
		height: 7.8rem;
	}
	
	.circle svg {
		width: 7.8rem;
		height: 7.8rem;
	}
}

.con-list .my-track .legend,
.routeMap .legend {
	width: auto;
	height: auto;
}

.main .routeMap .legend li,
.routeMap .legend li {
	line-height: 1.5;
}



/* @media screen and (max-width:319px){
	.main .basic-data ul li.startTime span{font-size:12px;}
	.main .basic-data ul li span{font-size:14px;}
	.main .basic-data ul li.score{-webkit-transform: scale(0.8); transform: scale(0.8);    margin-top: 0;}
	.main .basic-data ul li.cutting-line{padding: 3px 0 2px;}
} */